<%= form_with model: @product, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
