<%= form_with model: @product, local: true do |form| %>
  <div class="form-group">
    <div class="row">
      <div class="col col-md-2"><%= form.label :name %></div>
      <div class="col"><%= form.text_field :name, class: "text" %></div>
    </div>

    <div class="row">
      <div class="col col-md-2"><%= form.label :url %></div>
      <div class="col"><%= form.text_field :url %></div>
    </div>

    <%= form.submit type: "button", class: "btn btn-primary" %>
  </div>
<% end %>
