<div class="container-md">
  <div class="row justify-content-md-center">
    <div class="col">
      <h2>Products</h2>
    </div>
    <div class="col-md-auto"></div>
    <div class="col-md-auto">
      <%# Button outputs a path to .../new? %>
      <%= button_to "+", {action: "new", type: "button"},
        {method: "get", class: "btn btn-dark shadow", style: "background-color: #333f65"}  %>
    </div>
  </div>
  <div class="row shadow-lg border bg-white px-2 py-0 rounded-lg">
    <table class="table table-hover" id="product-table">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Current Price</th>
        <th scope="col">High</th>
        <th scope="col">Low</th>
      </thead>
      <tbody>
        <%# Product click does not work after returning to root  %>
        <% @products.each do |product| %>
          <tr data-link="<%= product_path(product) %>">
            <td><%= product.name %></td>
            <td><%= product.current_price  %></td>
            <td><%= product.max_price %></td>
            <td><%= product.min_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
