<!DOCTYPE html>
<html>
  <head>
    <title>ProductTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #333f65">
        <div class="container-fluid">
          <a class="navbar-brand accent-text" href="<%= root_path %>">🚀 Fast Track</a>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </nav>
    </header>

    <section class="container-fluid px-5 py-5" style="min-height: 100vh; height: 100%;">
      <%= yield %>
    </section>

    <div class="container">
      <div class="row">
        <p class="accent-text">© 2020 Developed by  Michael Truong</p>
      </div>
    </div>
  </body>
</html>
